name: Build and Publish Artifact

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install dependencies (if needed)
        run: |
          pip install -r requirements.txt
        shell: bash

      - name: Run compile.py
        run: |
          python compile.py
        shell: bash

      - name: Upload main.dist artifact
        uses: actions/upload-artifact@v4
        with:
          name: main-dist-${{ matrix.os }}
          path: main.dist
